#qc_tb_resetPasswordPage {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primarydark);
}

#qc_tb_resetPasswordPage::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    background-image: url('../Images/loginBackground.jpg');
    background-size: cover;
    z-index: 0;
    opacity: 0.4;
}

#qc_tb_resetPasswordPage>div {
    width: 400px;
    padding: 15px;
    border-radius: 4px;
    background-color: var(--primarydark);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qc_tb_resetPasswordPage>div>h2 {
    font-size: 20px;
    text-align: center;
    color: var(--primarylight);
    font-family: 'Montserrat', 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#qc_tb_resetPasswordCont>h2 {
    margin: 10px 0 30px 0;
}

#qc_tb_resetPasswordPage>div>input {
    height: 45px;
    width: 80%;
    margin: 5px 0;
    padding: 0 10px;
    font-size: 16px;
    color: gray;
    border: 1px solid var(--gray60);
    border-radius: 4px;
}

#qc_tb_resetPasswordPage>div>button {
    height: 45px;
    width: 80%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid gray;
    color: var(--primarylight);
}

#qc_tb_linkSendingCont>button {
    margin-top: 10px;
}

#qc_tb_resetPasswordCont>button {
    margin: 20px 0;
}

#qc_tb_resetPasswordPage>div>button.disabled {
    color: gray;
    border: 1px solid var(--gray60);
    background-color: transparent;
    cursor: not-allowed;
}

#qc_tb_resetPasswordPage>div>button.main {
    border: none;
    background-color: mediumseagreen;
}

#qc_tb_linkSendingCont>h2 {
    margin: 10px 0;
}

#qc_tb_linkSendingCont>p {
    margin: 15px 0;
    text-align: center;
    font-size: 14px;
    color: gray;
    line-height: 1.3;
}

@media screen and (width<=425px) {
    #qc_tb_resetPasswordPage::before {
        background: none;
    }
}